<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    </head>
    <body style="font-family: Arial; color: #003781;">
        <table style="width: 100%;" cellpadding="5px">
            <tr>
              <td rowspan="rowspan" style="font-size: 14px; font-weight: bold;" colspan="2" >Estimado ${queja.esUsted}:</td></tr>
            <tr><td height="30px">&nbsp;</td></tr>
            <tr>
                <td style="font-size: 14px; color: #000000; " >
                    En Allianz estamos comprometidos en atender con excelencia a nuestros clientes y para ello necesitamos de tu ayuda para detectar nuestras &aacute;reas de oportunidad, por lo que te agradecemos que nos hayas contactado para externarnos tu inquietud. </td>
            </tr>
			<tr>
                <td style="font-size: 14px; color: #000000; " >
                    Te informamos que: </td>
            </tr>
			<tr>
                <td style="font-size: 14px; color: #000000; " >
                    El folio de tu Sugerencia es FOLIO-${queja.idPUC}.</td>
            </tr>
			<tr>
                <td style="font-size: 14px; color: #000000; " >
                    En los pr&oacute;ximos 5 d&iacute;as h&aacute;biles uno de nuestros analistas se pondr&aacute; en contacto contigo para atender tu solicitud y mantenerte informado de los avances hasta el fin de la misma. </td>
            </tr>
			<tr>
                <td style="font-size: 14px; color: #000000; " >
                    Reiteramos nuestro compromiso contigo para continuar atendiendo tus requerimientos. </td>
            </tr>            
            <tr><td height="30px">&nbsp;</td></tr>
            
            <tr>    
                <td style="font-size: 14px; color: #000000; " >
                    Atentamente, 
                    <br style="height: 5px;">
                    <p style="color: #003781; font-size: 20; font-weight: bold;">
                    Allianz M&eacute;xico 
                    <p>
                </td>
            </tr>            
        </table>
    </body>
<html>